.card {
  border: 1px solid #DCE5EF;
  box-shadow: 0px 1px 4px rgba(9, 8, 61, 0.08);
  margin-bottom: 1rem;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  width: 800px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem;
  background-color: #F6F6F8;
  border-bottom: 1px solid #DCE5EF;
  margin-bottom: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  font-size: inherit;
  line-height: inherit;
  transform-origin: center;
  color: #00CC66;
}

.collapsible {
  cursor: pointer;

}

.rotate {
  transform: rotate(180deg);
}

.children {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  color: #476887;

}

.contentWrapper {
  padding: 0 1rem;
  transition: padding 0.3s ease;
}

.expand {
  max-height: 1000px;
  opacity: 1;
}

.expand .contentWrapper {
  padding: 0 1rem;
}

.centered {
  background-color: red;
}